<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
        <link rel="stylesheet" , href="./styles.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <%- include ('navbar',{links:links}); %>
        <ul>
            <% messages.forEach((message) => { %>
            <div id="msg">
                <p class="userName">
                    <%- include('messages/message', {message:message.username});
                    %>
                </p>
                <p class="msgText">
                    <%-include('messages/message',
                    {message:message.text_message}); %>
                </p>
                <p class="date">
                    <%-include('messages/message',
                    {message:message.date_added}); %>
                </p>

                <button>
                    <a
                        class="button"
                        href="/<%-include('messages/message', {message:message.id}); %>"
                        >More Details</a
                    >
                </button>
            </div>
            <% });%>
        </ul>
    </body>
</html>
